* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 158px 10px 158px;
}

.inter-tight-h2 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 60px;
  font-style: normal;
  margin-bottom: 20px;
}
.inter-tight-logo {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #4e47ff;
}
.btn {
  background-color: #4e47ff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
}
.container {
  background-image: url("./Assets/Hero-bg.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  margin-top: 130px;
  height: 237px;
  width: 750px;
}
main {
  max-width: 1140px;

  margin: 0 auto;
  margin-top: 100px;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-des {
  width: 440px;
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.action-image {
  height: 328px;
  width: 403px;
  border-radius: 48px;
}
.inter-tight-h3 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;

  color: #252432;
}

.inter-tight-regular {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}
.popularity {
  background-color: rgba(78, 71, 255, 0.1);
  height: 290px;
  width: 1140px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  margin-top: 157px;
}
.popularity-number {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  text-align: center;
}
.div-size {
  height: 206px;
  width: 856px;

  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}
.font-size {
  font-size: 80px;
}
.fontsize {
  font-size: 20px;
}
.review {
  height: 342px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}
.user-review {
  height: 243px;
  width: 1140px;

  display: flex;
  justify-content: space-between;
}
.review-dim {
  width: 366.67px;
  height: 243px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 14px;
  padding: 24px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.review-h2-seize {
  font-size: 24px;
}

.inter-tight-user-review {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.review-p-size {
  width: 318.67px;
  height: 44px;
  margin-top: 8px;
}
.user-info {
  display: flex;
}
.user-name {
  margin-left: 12px;
}
.reviewer-name {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 16px;
}
.review-date {
  font-size: 12px;
  font-weight: 200;
}
.uimage {
  border-radius: 180px;
}
